<div fxLayout="column" fxLayoutGap="15px">
  <ng-container *ngIf="expenditure; else skeleton">
    <div fxLayout="column" fxLayoutGap="15px">
      <div
        fxLayout="column"
        fxLayoutGap="15px"
        style="
          background-color: white;
          color: #767676;
          padding: 15px;
          border-radius: 15px;
        "
      >
        <div>
          <span
            >Limite para <b style="color: #ebbc02">gastar </b> <b>POR ANO</b>:
          </span>
          <span style="color: #ebbc02"
            ><b>{{ expenditure?.cotaTotal | currency: 'BRL' }}</b></span
          >
        </div>
        <span style="font-size: 12px; color: #040404">{{
          reaisPorExtenso(expenditure?.cotaTotal)
        }}</span>
      </div>
      <div
        fxLayout="column"
        fxLayoutGap="15px"
        style="
          background-color: white;
          color: #767676;
          padding: 15px;
          border-radius: 15px;
        "
      >
        <div>
          <span>Valor <b style="color: #d10202">gasto</b> até agora: </span>
          <span style="color: #d10202"
            ><b>{{ expenditure?.cotaTotalGastou | currency: 'BRL' }}</b></span
          >
        </div>
        <span style="font-size: 12px; color: #040404">{{
          reaisPorExtenso(expenditure?.cotaTotalGastou)
        }}</span>
      </div>
      <div
        fxLayout="column"
        fxLayoutGap="15px"
        style="
          background-color: white;
          color: #767676;
          padding: 15px;
          border-radius: 15px;
        "
      >
        <div>
          <span>Valor <b style="color: green">economizado</b> até agora: </span>
          <span style="color: green"
            ><b>{{
              expenditure?.cotaTotalEconomizou | currency: 'BRL'
            }}</b></span
          >
        </div>
        <span style="font-size: 12px; color: #040404">{{
          reaisPorExtenso(expenditure?.cotaTotalEconomizou)
        }}</span>
      </div>
    </div>
  </ng-container>
  <div style="padding: 10px" fxLayoutAlign="center start">
    <div [ngStyle.lt-md]="{ width: '80vw' }">
      <canvas id="chart"> </canvas>
    </div>
  </div>
  <div [ngStyle.lt-md]="{ height: '30px' }" style="width: 100%"></div>
  <ng-template #skeleton>
    <app-skeleton-msg-list [index]="3"></app-skeleton-msg-list>
  </ng-template>
</div>
