<ng-container *ngIf="processes; else skeleton">
  <ng-container *ngIf="processes.length; else noProcesses">
    <div class="container">
      <ng-container *ngFor="let process of processes">
        <div fxLayoutAlign="start start" class="content" ngClass.lt-md="mobile">
          <div
            class="w-100"
            fxLayout="column"
            fxLayoutAlign="space-around start"
            fxLayoutGap="10px"
            style="height: 100%; text-align: left"
          >
            <span class="process">
              {{ process.processText }}
            </span>
            <div fxLayout="column">
              <span
                style="
                  padding: 10px 15px;
                  border-radius: 25px;
                  background-color: #137f36;
                "
              >
                <a
                  style="color: white"
                  target="_blank"
                  [href]="process.processUrl"
                  >Link do Processo</a
                >
              </span>
            </div>
            <div class="w-100" fxLayoutAlign="end end">
              <span>
                {{ process.processStatus }}
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #noProcesses>
    <div>
      <div fxLayoutAlign="center start" class="content" ngClass.lt-md="mobile">
        <div
          fxLayout="column"
          fxLayoutAlign="space-around center"
          fxLayoutGap="10px"
          style="height: 100%; text-align: center"
        >
          <span> Não há processos judiciais para esse parlamentar </span>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>

<div [ngStyle.lt-md]="{ height: '30px' }" style="width: 100%"></div>
<ng-template #skeleton>
  <app-skeleton-msg-list [index]="3"></app-skeleton-msg-list>
</ng-template>
