<div class="container">
  <div class="header">
    <div class="avatarSection">
      <div fxHide.gt-sm (click)="onClickBack.emit()">
          <picture>
            <source media="(max-width:600px)" srcset="../../assets/imagesMobile/chevron.png">
            <img src="../../assets/images/chevron-back.svg" />
          </picture>
      </div>
      <div class="picture">
        <img src="{{ conversation.parliamentarian.photo }}" />
      </div>

      <div class="nameSection">{{ conversation.parliamentarian.nickname }}</div>
    </div>
    <div class="actionButtons">
      <picture>
        <source media="(max-width:600px)" srcset="../../assets/imagesMobile/attached.svg">
        <img src="../../assets/images/attached.svg" />
      </picture>
      <picture>
        <source media="(max-width:600px)" srcset="../../assets/imagesMobile/moreVertIcon.svg">
        <img src="../../assets/images/moreVertIcon.svg" />
      </picture>
    </div>
  </div>
  <div id="body" ngClass.lt-md="mobile-height">
    <div
      class="message"
      [ngClass]="{ me: message.me }"
      *ngFor="
        let message of conversation.parliamentarianRanking.parliamentarian
          .lawVotes
      "
    >
      <div class="messageContent">
        {{ message.law.number }}
        <div class="tooltip">
          👁
          <span
            class="tooltiptext"
            [innerHtml]="message.law.description"
          ></span>
        </div>
        <div class="time">
          Votou
          <span
            *ngIf="message.lawStatusId === 1"
            style="font-weight: bold; color: green"
            >SIM</span
          >
          <span
            *ngIf="message.lawStatusId === 2"
            style="font-weight: bold; color: red"
            >NÃO</span
          >
          {{ message.law.dateVoting | date: "dd/MM/yyyy" }}
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="smileyIcon">
      <img
        (click)="emojiPickerVisible = !emojiPickerVisible"
        src="../../assets/images/smileIcon.svg"
        º
      />
      <emoji-mart
        (emojiClick)="emojiClicked($event)"
        *ngIf="emojiPickerVisible"
        style="position: absolute; bottom: 50px"
        [darkMode]="false"
        title="Pick your emoji…"
        emoji="point_up"
      ></emoji-mart>
    </div>
    <div id="textarea">
      <textarea
        [(ngModel)]="message"
        (keyup.enter)="submitMessage($event)"
      ></textarea>
    </div>
    <div id="micIcon">
      <img src="../../assets/images/voiceIcon.svg" />
    </div>
  </div>
</div>
