<div style="height: 100%; min-height: 100vh; min-height: -webkit-fill-available;" fxLayoutAlign="space-bewteen center" fxLayout="column"
     ngStyle.lt-md="overflow-y: scroll">

    <div style="flex: 0 1 auto; width: 100%; box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;;padding: 10px 20px; min-height: 67px;
" fxLayoutAlign="unset center" fxHide.gt-sm>
        <img alt="logo" width="15%" src="assets/images/logo.png">
        <div style="width: 100%" fxLayoutAlign="center center">
            <h3 style="padding: 0; color: #137F36FF">Seja Bem Vindo!</h3>
        </div>
    </div>
    <div style="flex: 0 1 auto; padding: 20px; max-width: 540px; font-weight: 700; font-size: 15px" fxLayout="column" fxLayoutGap="25px">
        <div fxLayoutAlign="center center" fxLayout="column">

            <div fxHide.lt-md style="width: 100%" fxLayoutAlign="center center" fxLayoutGap="25px">
                <h3 style="padding: 0; color: #137F36FF">Seja Bem Vindo!</h3>
                <img alt="logo" width="10%" src="assets/images/logo.png">
            </div>

            <p style="margin-top: 0">
                Esse projeto foi criado para que todo cidadão possa ter acesso as ações dos políticos, de forma fácil e
                com uma
                usabilidade amigável, acreditamos que só a conscientização da população é capaz de mudar o rumo do nosso
                país.
            </p>
            <p>
                O Chat é baseado em um sistema de Pontuação criado pelo <strong> <a href="https://www.politicos.org.br">Ranking
                dos
                Políticos</a></strong>, A pontuação dos políticos
                é definida de acordo com sua atuação no combate à corrupção, aos privilégios e ao desperdício da máquina
                pública.
                Para apurar isso, são avaliados os dados sobre presenças nas sessões, economia de verbas, processos
                judiciais e
                votações dos parlamentares nas decisões mais importantes do Congresso, <strong> <a
                    href="https://www.politicos.org.br/CriteriosAvaliacao">saiba mais</a></strong>.
            </p>
            <div fxLayoutAlign="center center">
                <div style="padding: 10px 30px; background-color: #137F36FF; color: #FFF; border-radius: 25px"
                     fxHide.gt-sm
                     (click)="onCloseWelcomeIntro()">
                    Acessar Chat
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
            <span style="color: #137F36FF">Siga-nos em nossas redes sociais!</span>
            <div fxLayoutAlign="center center" fxLayoutGap="15px">
                <a target="_blank" href="https://www.tiktok.com/@chatdospoliticos">
                    <img alt="tiktok" width="70%" src="assets/images/tiktok.svg">
                </a>
                <a target="_blank" href="https://www.instagram.com/chatdospoliticos/">
                    <img alt="instagram" width="70%" src="assets/images/instagram.svg">
                </a>
                <a target="_blank" href="https://twitter.com/chatdopolitico">
                    <img alt="twitter" width="70%" src="assets/images/twitter.png">
                </a>
                <a target="_blank" href="https://www.facebook.com/people/Chat-dos-Pol%C3%ADticos/100084449964300/">
                    <img alt="facebook" width="70%" src="assets/images/facebook.svg">
                </a>


            </div>
        </div>

    </div>
    <div  fxLayoutAlign="center end" style="flex: 1 1 auto">
        <small style="padding-bottom: 21px">Projeto mantido por <a target="_blank"
                                      href="https://www.instagram.com/ebenezerdigitalsolutions/">EbenEzer Digital
            Solutions</a> © 2022</small>
    </div>
</div>
