<div id="background_header"></div>
<div id="background_body"></div>

<div id="chatContainer">
  <app-sidebar
    (conversationClicked)="onConversationSelected($event)"
  ></app-sidebar>
  <div id="chat">
    <div id="chatPlaceholder" *ngIf="!conversation">
      <img width="400" src="../assets/images/background.jpg" />
      <p style="max-width: fit-content; padding: 50px 100px 0 100px; text-align: justify;">
        Somos uma iniciativa da sociedade civil que avalia senadores e deputados federais em exercício, classificando-os do melhor para o pior, de acordo com os critérios que estabelecemos: combate aos privilégios, desperdício e corrupção no poder público. Não somos isentos e temos posicionamento sobre as nossas bandeiras: anticorrupção, antiprivilégios e antidesperdício. Nossos critérios não privilegiam partidos ou pessoas, e sim ações. Esse projeto foi criado por pessoas comuns, sem ligação com nenhum partido político ou grupo de interesse.
      </p>
      <div class="seperator"></div>
      <p>Saiba mais em <a href="https://www.politicos.org.br/Sobre">politicos.org.br</a></p>
    </div>

    <app-chat [conversation]="conversation" *ngIf="conversation"></app-chat>
  </div>
</div>

<router-outlet></router-outlet>
