<div class="background_header"></div>
<div class="background_body"></div>

<div class="chatContainer" ngClass.lt-md="sm-content" ngClass.gt-sm="auto-margin">
    <div fxShow.gt-sm fxHide.lt-md class="web">
        <app-sidebar
                (conversationClicked)="onConversationSelected($event)"
        ></app-sidebar>
        <div id="chat-web" class="chat">
            <div class="chatPlaceholder" *ngIf="!conversation">
                Chat dos Políticos
            </div>

            <app-chat [conversation]="conversation" *ngIf="conversation"></app-chat>
        </div>
    </div>
    <div fxShow.lt-md fxHide.gt-sm>
        <app-sidebar *ngIf="!showChat"
                     (conversationClicked)="onConversationSelected($event)"
        ></app-sidebar>
        <div id="chat-mobile" *ngIf="showChat" class="chat">
            <div class="chatPlaceholder" *ngIf="!conversation">
                Chat dos Políticos
            </div>

            <app-chat (onClickBack)="changeShowChat()"
                      [conversation]="conversation" *ngIf="conversation"></app-chat>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
