
<div class="sidebar">
  <div class="row1">

    <div class="sidebarHeader">
      <div class="avatarContainer">
        <img src="../../assets/images/noPic.svg" />
      </div>
      <div class="actionsContainer">
        <picture>
          <source media="(max-width:600px)" srcset="../../assets/imagesMobile/statusIcon.svg">
        <img src="../../assets/images/statusIcon.svg" />
      </picture>
      <picture>
        <source media="(max-width:600px)" srcset="../../assets/imagesMobile/chatIcon.svg">
        <img src="../../assets/images/chatIcon.svg" />
      </picture>
      <picture>
        <source media="(max-width:600px)" srcset="../../assets/imagesMobile/moreVertIcon.svg">
        <img src="../../assets/images/moreVertIcon.svg" />
      </picture>
      </div>
    </div>
    <div class="searchBox">
      <img width="19" src="../../assets/images/searchIcon.svg" />
      <input
        [(ngModel)]="searchText"
        type="text"
        placeholder="Pesquisar..."
      />
    </div>
  </div>


  <div id="sidebarContent" ngClass.lt-md="mobile-height">
    <!-- <div id="noConversations">All chats are archived</div> -->

    <div
      class="conversation"
      *ngFor="
        let conversation of !searchText ? conversations : filteredConversations
      "
      (click)="handleConversationClicked(conversation)"
    >
    <!--      (click)="conversationClicked.emit(conversation)"-->
    
      <div class="picture">
       
        <img src="{{conversation.parliamentarian.photo}}"/>
      
       <div class="score">
          <h2>{{conversation.scoreRanking}}º</h2>
        </div>
      </div>
      <div class="content">
        <div class="conversationHeader">
          <div class="name">{{conversation.scoreRanking}}º {{ conversation.parliamentarian.nickname }} {{conversation.scoreTotal}}</div>
          <div class="time">{{ conversation.parliamentarian.latestMessageTime | date: 'dd/MM/yy'}}</div>
        </div>
        <div class="message">
          <img
            *ngIf="!conversation.parliamentarian.latestMessageRead"
            src="../../assets/images/doubleTick.svg"
          />
          <img
            *ngIf="conversation.parliamentarian.latestMessageRead"
            src="../../assets/images/doubleTickBlue.svg"
          />
          <span *ngIf="conversation.parliamentarian.latestLawStatusId === 1" style="font-weight: bold;color: green">SIM</span>
          <span *ngIf="conversation.parliamentarian.latestLawStatusId === 2" style="font-weight: bold;color: red">NÃO</span>
          {{ conversation.parliamentarian.latestMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
