<div id="sidebar">
  <div id="row1">
    <div id="sidebarHeader">
      <div class="avatarContainer">
        <img src="../../assets/images/noPic.svg" />
      </div>
      <div class="actionsContainer">
        <img src="../../assets/images/statusIcon.svg" />
        <img src="../../assets/images/chatIcon.svg" />
        <img src="../../assets/images/moreVertIcon.svg" />
      </div>
    </div>
    <div id="searchBox">
      <img width="19" src="../../assets/images/searchIcon.svg" />
      <input
        [(ngModel)]="searchText"
        type="text"
        placeholder="Pesquisar..."
      />
    </div>
  </div>

  <div id="sidebarContent" ngClass.lt-md="mobile-height">
    <!-- <div id="noConversations">All chats are archived</div> -->

    <div
      class="conversation"
      *ngFor="
        let conversation of !searchText ? conversations : filteredConversations
      "
      (click)="handleConversationClicked(conversation)"
    >
    <!--      (click)="conversationClicked.emit(conversation)"-->
      <div class="picture">
        <img src="{{conversation.parliamentarian.photo}}" />
<!--        <div class="score">
          <h2>{{conversation.scoreRanking}}º</h2>
        </div>-->
      </div>
      <div class="content">
        <div class="conversationHeader">
          <div class="name">{{conversation.scoreRanking}}º {{ conversation.parliamentarian.nickname }} {{conversation.scoreTotal}}</div>
          <div class="time">{{ conversation.parliamentarian.latestMessageTime | date: 'dd/MM/yy'}}</div>
        </div>
        <div class="message">
          <img
            *ngIf="!conversation.parliamentarian.latestMessageRead"
            src="../../assets/images/doubleTick.svg"
          />
          <img
            *ngIf="conversation.parliamentarian.latestMessageRead"
            src="../../assets/images/doubleTickBlue.svg"
          />
          <span *ngIf="conversation.parliamentarian.latestLawStatusId === 1" style="font-weight: bold;color: green">SIM</span>
          <span *ngIf="conversation.parliamentarian.latestLawStatusId === 2" style="font-weight: bold;color: red">NÃO</span>
          {{ conversation.parliamentarian.latestMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
