<div class="container">
  <div class="header">
    <div class="avatarSection">
      <div fxHide.gt-sm (click)="clickBack()">
          <picture>
            <source media="(max-width:600px)" srcset="../../../assets/imagesMobile/chevron.png">
            <img src="../../../assets/images/chevron-back.svg" />
          </picture>
      </div>
      <div class="picture">
        <img src="{{ conversation?.parliamentarianRanking.parliamentarian.photo }}" />

        <div class="score"
             [ngClass]="{'good': conversation.parliamentarianRanking.scoreRanking <= 150, 'regular': conversation.parliamentarianRanking.scoreRanking > 150 && conversation.parliamentarianRanking.scoreRanking <= 350, 'bad': conversation.parliamentarianRanking.scoreRanking > 350 }">
          <h2>{{conversation?.parliamentarianRanking.scoreRanking}}º</h2>
        </div>
      </div>

      <div class="nameSection">{{ conversation?.parliamentarianRanking.parliamentarian.nickname }}</div>
    </div>

  </div>
  <div id="body" ngClass.lt-md="mobile-height" #bodyScroll [scrollTop]="bodyScroll.scrollHeight">
    <router-outlet></router-outlet>
  </div>
  <div ngClass.lt-md="mobile-footer" ngClass.gt-sm="footer">
        <div class="switch">
          <div class="option"
               routerLinkActive="selected"
               [routerLink]="'/'+RouteEnum.VOTES" queryParamsHandling="preserve"><span>Votos</span>
          </div>
          <div class="option"
               routerLinkActive="selected"
               [routerLink]="'/'+RouteEnum.EXPENDITURE" queryParamsHandling="preserve"><span>Gastos</span>
          </div>
          <div class="option"
               routerLinkActive="selected"
               [routerLink]="'/'+RouteEnum.LAWSUIT" queryParamsHandling="preserve"><span>Processos</span>
          </div>
        </div>

  </div>
</div>
