<div class="container">
  <div class="header">
    <div class="avatarSection">
      <div fxHide.gt-sm (click)="clickBack()">
          <picture>
            <source media="(max-width:600px)" srcset="../../../assets/imagesMobile/chevron.png">
            <img src="../../../assets/images/chevron-back.svg" />
          </picture>
      </div>
      <button mat-button (click)="openDialog2()">
        <div class="picture">
          <img src="{{ conversation?.parliamentarianRanking.parliamentarian.photo }}" />
          <div class="score">
            <h2>{{conversation?.parliamentarianRanking.scoreRanking}}º</h2>
          </div>
        </div>
      </button>
    
      <div class="nameSection">{{ conversation?.parliamentarianRanking.parliamentarian.nickname }}</div>
    </div>

  </div>
  <div id="body" ngClass.lt-md="mobile-height" #bodyScroll [scrollTop]="bodyScroll.scrollHeight">
    <router-outlet></router-outlet>
  </div>
  <div ngClass.lt-md="mobile-footer" ngClass.gt-sm="footer">
        <div class="switch">
          <div class="option"
               routerLinkActive="selected"
               [routerLink]="'/'+RouteEnum.Votes" queryParamsHandling="preserve"><span>Votos</span>
          </div>
          <div class="option"
               routerLinkActive="selected"
               [routerLink]="'/'+RouteEnum.Spending" queryParamsHandling="preserve"><span>Gastos</span>
          </div>
          <div class="option"
               routerLinkActive="selected"
               [routerLink]="'/'+RouteEnum.Lawsuit" queryParamsHandling="preserve"><span>Processos</span>
          </div>
        </div>

  </div>
</div>
