/* You can add global styles to this file, and also import other style files */
@import "~@ctrl/ngx-emoji-mart/picker";

body {
  margin: 0px;
  font-family: sans-serif;
  color: #a2a3a4;

  a {
    color: #45bf57;
    text-decoration: none;
  }
}
h2 {
  margin: 0px;
  padding: 0px;
  color: rgb(255, 255, 255);
  border-radius: 0px 0px 800px 800px;
  font-family: nunito;
  font-weight: 700;
  font-size: 11px;
}
