/* You can add global styles to this file, and also import other style files */
@import '~@ctrl/ngx-emoji-mart/picker';

body {
  margin: 0;
  font-family: sans-serif;
  color: #a2a3a4;

  a {
    color: #45bf57;
    text-decoration: none;
  }
}
mat-dialog-container {
  position: fixed;
  top: 20%;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: unset !important;
  min-height: min-content !important;
  width: 550px !important;
  margin: auto !important;
  background-color: white;
  z-index: 100000;
  overflow: hidden !important;
  border: 1px solid green;

  mat-dialog-content {
    overflow-x: hidden !important;
    padding: 10px !important;
    max-height: 40vh !important;
    max-width: 500px;
  }

  .mat-dialog-actions {
    justify-content: flex-end;
  }
}

@media (max-width: 800px) {
  mat-dialog-container {
    position: fixed;
    top: 20%;
    bottom: 10%;
    left: 10%;
    height: unset !important;
    min-height: min-content !important;
    width: 80vw !important;
    margin: auto !important;
    background-color: white;
    z-index: 100000;
    overflow: hidden !important;
    border: 1px solid green;

    mat-dialog-content {
      overflow-x: hidden !important;
      padding: 10px !important;
      max-height: 40vh !important;
    }

    .mat-dialog-actions {
      justify-content: flex-end;
    }
  }
}

.w-100 {
  width: 100%;
}
