<div class="sidebar">
    <div class="row1">

        <div class="sidebarHeader">
            <div class="avatarContainer">
                <img src="../../../assets/images/noPic.svg"/>
            </div>
        </div>
        <div class="searchBox">
            <img width="19" src="../../../assets/images/searchIcon.svg"/>
            <input
                    [(ngModel)]="searchText"
                    type="text"
                    placeholder="Pesquisar..."
            />
        </div>
        <div class="filter" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <!--           @TODO  -->
            <!--            <div class="switch">-->
            <!--                <div class="option" [ngClass]="{selected: selectedSwitchFilterEnum === SwitchFilterEnum.POLITICIANS}"-->
            <!--                     (click)="selectSwitchFilter(SwitchFilterEnum.POLITICIANS)"><span>Dos</span> <span>Politicos</span>-->
            <!--                </div>-->
            <!--                <div class="option" [ngClass]="{selected: selectedSwitchFilterEnum === SwitchFilterEnum.PARTIES}"-->
            <!--                     (click)="selectSwitchFilter(SwitchFilterEnum.PARTIES)"><span>Dos</span> <span>Partidos</span></div>-->
            <!--                <div class="option" [ngClass]="{selected: selectedSwitchFilterEnum === SwitchFilterEnum.STATES}"-->
            <!--                     (click)="selectSwitchFilter(SwitchFilterEnum.STATES)"><span>Dos</span> <span>Estados</span></div>-->
            <!--            </div>-->

            <div fxLayout="column" style="color: #137f36">
                <select style="border: 2px solid #137f36; padding: 3px; border-radius: 20px; color: #137f36 "
                        [(ngModel)]="selectedState">
                    <option value="">Todos Estados</option>
                    <ng-container *ngFor="let option of states">
                        <option [value]="option.sigla">{{option.sigla}}</option>
                    </ng-container>
                </select>

                <div style="padding-top: 10px; cursor: pointer" (click)="changeBestWorst()">

                    <ng-container *ngIf="fromBestToWorst else fromWorst">
                     <span style="color: green">
                    Do <b>MELHOR</b> Para Pior ⬇
                    </span>
                    </ng-container>

                    <ng-template #fromWorst>
                    <span style="color: #d10202">
                        Do <b>PIOR</b> Para Melhor ⬆
                    </span>
                    </ng-template>

                </div>

            </div>
            <div fxLayout="column" fxLayoutGap="5px">
                <div class="radio-option" (click)="selectRadioFilter(RadioFilterEnum.CHAMBER)">
                    <div class="radio" [ngClass]="{selected: selectedRadioChamberEnum}"></div>
                    <div>CÂMARA</div>
                </div>
                <div class="radio-option" (click)="selectRadioFilter(RadioFilterEnum.SENATE)">
                    <div class="radio" [ngClass]="{selected: selectedRadioSenateEnum}"></div>
                    <div>SENADO</div>
                </div>
            </div>

        </div>
    </div>


    <div id="sidebarContent" ngClass.lt-md="mobile-height"
         infiniteScroll
         (scrolled)="onScroll()"
         (scrolledUp)="onScroll()"
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         [scrollWindow]="false"
         fxLayout="column"
    >
        <!-- <div id="noConversations">All chats are archived</div> -->

        <div class="conversation"
             *ngFor="let conversation of filteredConversations"
             (click)="handleConversationClicked(conversation)"
        >
            <div class="picture">
                <img src="{{conversation.parliamentarian.photo}}"/>
                <div class="score"
                     [ngClass]="{'good': conversation.scoreRanking <= 150, 'regular': conversation.scoreRanking > 150 && conversation.scoreRanking <= 350, 'bad': conversation.scoreRanking > 350 }">
                    <h2>{{conversation.scoreRanking}}º</h2>
                </div>
            </div>
            <div class="content">
                <div class="conversationHeader">
                    <div class="name"> {{ conversation.parliamentarian.nickname }} </div>
                    <div class="time">{{conversation.scoreTotal}}</div>
                </div>
                <div class="message">
                    <img
                            *ngIf="!conversation.parliamentarian.latestMessageRead"
                            src="../../../assets/images/doubleTick.svg"
                    />
                    <img
                            *ngIf="conversation.parliamentarian.latestMessageRead"
                            src="../../../assets/images/doubleTickBlue.svg"
                    />
                    <span *ngIf="conversation.parliamentarian.latestLawStatusId === 1"
                          style="font-weight: bold;color: green">SIM</span>
                    <span *ngIf="conversation.parliamentarian.latestLawStatusId === 2"
                          style="font-weight: bold;color: red">NÃO</span>
                    {{ conversation.parliamentarian.position }} {{ conversation.parliamentarian.party.prefix }}
                    - {{conversation.parliamentarian.state.prefix}}
                </div>
            </div>
        </div>
    </div>
</div>
